<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415585230765-f1339acdc9gtufv5lho2bs67l9f3kn08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415585230765-f1339acdc9gtufv5lho2bs67l9f3kn08</string>
	<key>API_KEY</key>
	<string>AIzaSyBfBhVjNfOuIGmJMYXIzj1ZDAtYlBpjGq8</string>
	<key>GCM_SENDER_ID</key>
	<string>415585230765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gtv.sdk.demosdk</string>
	<key>PROJECT_ID</key>
	<string>gtv-demo-sdk</string>
	<key>STORAGE_BUCKET</key>
	<string>gtv-demo-sdk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415585230765:ios:f54b0fab8135ca98984b24</string>
	<key>DATABASE_URL</key>
	<string>https://gtv-demo-sdk.firebaseio.com</string>
</dict>
</plist>