<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info.plist
   GTVFramework

   Created by Sylvanas on 6/26/20.
   Copyright (c) 2020 lecuong.bka@gmail.com. All rights reserved.
-->
<plist version="1.0">
    <dict>
    <key>GTVConfig</key>
    <dict>
        <key>APP_CODE</key>
        <string>TAMQUOC</string>
        <key>PARTNER_ID</key>
        <string>10</string>
        <key>appleAppID</key>
        <string>1501684146</string>
        <key>appsFlyerDevKey</key>
        <string>eCtr8zCKpS65ri8yUjGCGf</string>
    </dict>
    </dict>
</plist>
